/** @format */

.ff {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.input-form {
	width: 30rem;
	margin-top: 70px;
	border: 1px solid #ccc;
	text-align: center;
	padding-top: 40px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) !important;
}
.input-form input {
	height: 50px;
	background-color: transparent;
	border: 1px solid #ccc;
	margin: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1),
		inset 0px 0px 10px rgba(255, 255, 255, 0.5);
	padding-left: 10px;
	border-radius: 8px;
	font-size: 16px;
	color: white;
	outline: transparent;
	width: 90%;
}
.input-form input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
textarea {
	width: 90%;
	height: 100px;
	background-color: transparent;
	border: 1px solid #ccc;
	margin: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1),
		inset 0px 0px 10px rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	padding: 10px;
	color: white;
	outline: transparent;
}

.input-form button {
	background-color: #0835c9;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 90%;
	margin: 20px;
	font-size: 16px;
}
@media only screen and (max-width: 786px) {
	.input-form {
		width: 90%;
		margin: 0 auto;
	}
	.ff h1 {
		font-size: 50px;
		margin-bottom: 20px;
	}
}
